* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --accent: orange;
  --bg: #000;
  --brightness: 0.3;
}

:fullscreen {
  background: transparent;
}

:fullscreen::backdrop {
  background: linear-gradient(
      rgba(0, 0, 0, var(--brightness)),
      rgba(0, 0, 0, var(--brightness))
    ),
    url(http://picsum.photos/1920/1080.webp) var(--bg);
  background-size: cover;
}

body {
  background: linear-gradient(
      rgba(0, 0, 0, var(--brightness)),
      rgba(0, 0, 0, var(--brightness))
    ),
    url(http://picsum.photos/1920/1080.webp) var(--bg);
  background-size: cover;
  height: 100vh;
  color: white;
  overflow: hidden;
  user-select: none;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.2fr 0.8fr;

  & > div {
    position: relative;
  }
}

.invert {
  filter: invert();
}

.weatherContainer {
  display: grid;
  place-content: center;
  justify-content: start;
  font-size: 42px;

  .location {
    font-size: 42px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .temp {
    font-size: clamp(60px, 24px + 14vw, 275px);
    font-weight: 600;
  }

  .icon {
    width: 42px;
    margin-bottom: 16px;
  }

  .minmax {
    display: flex;
    gap: 42px;
    margin-top: 24px;
  }
}

.dflex {
  display: flex;
  gap: 16px;
  align-items: center;
}

.clock {
  border-radius: 50%;
  width: 300px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 250ms ease;
  transform: translate(-50%, -50%) scale(2);
}

.notification {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%) scale(0.5);
  background-color: var(--bg);
  align-items: center;
  display: flex;
  padding: 12px;
  border-radius: 100vmax;
  box-shadow: 0 0 4px rgb(13, 14, 13);
  transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  
  &.active {
    transform: translate(-50%, 32px) scale(1);
  }

  &.active .icon {
    animation: zoom 5s .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .icon {
    background-color: #3d9fff;
    width: 32px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: scale(0);

    img {
      width: 16px;
    }
  }

  .msg {
    color: #aaa;
    white-space: nowrap;
    width: 0;
    font-size: 14px;
    overflow: hidden;
  }

  &.active .msg {
    animation: reveal 2.5s 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes reveal {
  0% {
    width: 0px;
    margin-left: 0px;
  }
  30% {
    width: 200px;
    margin-left: 10px;
  }
  70% {
    width: 200px;
    margin-left: 10px;
  }
  100% {
    width: 0px;
    margin-left: 0px;
  }
}

@media screen and (width<600px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .weatherContainer {
    padding: 0 36px;
    font-size: 28px;

    .location {
      font-size: inherit;
    }
  }
  .temp {
    margin-top: 10px;
    font-size: 60px;
  }
  .clock {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (width<768px) and (orientation: landscape) {
  .weatherContainer {
    font-size: 28px;

    .location {
      font-size: 28px;
      margin-bottom: 16px;
    }

    .temp {
      font-size: 60px;
    }
  }
  .clock {
    transform: translate(-50%, -50%) scale(1);
  }
}

.line {
  width: 2px;
  height: 10px;
  background-color: #999;
  position: absolute;
  z-index: -1;

  &:nth-child(5n) {
    background-color: white;
  }
}

.text {
  width: 36px;
  aspect-ratio: 1;
  position: absolute;
  top: 100%;
  left: calc(50% - 18px);
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 22px;
  font-weight: 600;
}

.ring {
  width: 9px;
  aspect-ratio: 1;
  outline: 3px solid white;
  border: 3px solid var(--accent);
  border-radius: 50%;
  background-color: var(--bg);
  z-index: 1;
}

.second,
.minute,
.hour {
  position: absolute;
  width: 2px;
  height: 125px;
  top: 50%;
  left: calc(50% - 1px);
  transform-origin: 1px 0;
  background-color: white;
}

.second {
  height: 166px;
  transform-origin: 1px 26px;
  top: calc(50% - 26px);
  background-color: var(--accent);
}

.hour {
  height: 105px;
}

.minute::after,
.hour::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 100px;
  left: -3px;
  top: 100%;
  transform: translateY(-100%);
  background-color: white;
  border-radius: 4px;
}

.hour::after {
  height: 80px;
}
